* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 8rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
}

.text div {
  /* background-color: aquamarine; */
}
